@import './utils/margin.sass'
@import './utils/flex.sass'
@import './utils/text.sass'
@import './utils/padding.sass'
@import './utils/color.sass'
@import './utils/width.sass'

h3
  font-weight: bold !important
  font-size: 1.25rem

.bg-white
  background: #fff !important

.h-screen
  height: 100vh !important

.flex-center
  display: flex
  justify-content: center
  align-items: center


.text-primary
  color: #E1E1E1 !important

.text-secondary
  color: #8F8F8F !important

.h-50
  height: 50% !important

.h-full
  height: 100% !important

.ant-form-item-label
  padding-bottom: 2px
  label
    color: #E1E1E1 !important

.ant-form-item
  margin-bottom: 10px

.ant-input-number
  width: 150px !important
  border-color: #505050
  
  .ant-input-number-handler-wrap
    background: #2D2D2D !important

    i
      color: #E1E1E1

  input
    color: #E1E1E1
    border-color: #505050
    background: #2D2D2D !important


.ant-select-selection
  background: #2D2D2D !important

.ant-select-dropdown-menu
  background: #2D2D2D !important
  color: #E1E1E1

  li
    background: #2D2D2D !important
    color: #E1E1E1

.ant-select-selection-selected-value
  color: #E1E1E1

.ant-select-arrow
  i
    color: #E1E1E1